<body>
    <footer>
        <div class="footer_container">
            <div class="left_part">
                <div class="rights_box">
                    <span class="rights_ch">四川盛趣时代网络科技有限公司    蜀ICP备13014908号-2</span>
                    <span class="rights_en">© 2019 SNQUTIME. All Rights Reserved.</span>
                </div>
            </div>
            <div class="right_part">
                <div class="contact_box">
                    <ul class="logo_list">
                        <li class="logo_item">
                            <a href="#">
                                <div class="contact_logo weibo">
                                    <img src="../images/index/weibo.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li class="logo_item">
                            <a href="#">
                                <div class="contact_logo qq">
                                    <img src="../images/index/qq.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li class="logo_item">
                            <a href="#">
                                <div class="contact_logo weixin">
                                    <img src="../images/index/weixin.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
