<!DOCTYPE html>
<html lang="en">
<%- include ./header.ejs %>
<body>
    <div class="container">
        <div class="first_page">
            <div class="role_wrapper">
                <div class="role">
                    <div class="role_box">
                        <img src="../images/index/first_role.png" alt="" class="first">
                        <img src="../images/index/second_role.png" alt="" class="second">
                        <img src="../images/index/third_role.png" alt="" class="third">
                        <img src="../images/index/four_role.png" alt="" class="fourth">
                        <img src="../images/index/five_role.png" alt="" class="fifth">
                    </div>
                    <div class="text_box">
                        <div class="title">
                            <img src="../images/index/title.png" alt="">
                        </div>
                        <span>FIGHTING PLATFORM</span>
                        <div class="two_btn">
                            <div class="btn1">
                                <a href="form/recruit_form">主播招募</a>
                            </div>
                            <div class="btn2">
                                <a href="#">立即下载</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <div class="img_box">
                    <div class="img_list">
                        <ul>
                            <li><a href="#"><img src="../images/index/images_01.png" alt=""></a></li>
                            <li><a href="#"><img src="../images/index/images_02.png" alt=""></a></li>
                            <li><a href="#"><img src="../images/index/images_03.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="second_page">
            <div class="head_box">
                <div class="title">
                    <span class="title_ch">汇集热门游戏</span>
                    <span class="title_en">PAPULAR GAME IN HERE</span>
                </div>
                <div class="arrow">
                    <div class="left"></div>
                    <div class="right active"></div>
                </div>
            </div>
            <div class="game_box">
                <a href="#" class="look_more"></a>
                <ul class="game_list">
                    <li class="game_item">
                        <a href="#">
                            <img class="game_pic" src="../images/index/games/1.png" alt="">
                            <img class="icon" src="../images/index/hot_logo/2.png" alt="">
                            <div class="mask"></div>
                            <span class="intro">游戏简介</span>
                        </a>
                    </li>
                    <li class="game_item">
                        <a href="#">
                            <img class="game_pic" src="../images/index/games/2.png" alt="">
                            <img class="icon" src="../images/index/hot_logo/2.png" alt="">
                            <div class="mask"></div>
                            <span class="intro">游戏简介</span>
                        </a>
                    </li>
                    <li class="game_item">
                        <a href="#">
                            <img class="game_pic" src="../images/index/games/3.png" alt="">
                            <img class="icon" src="../images/index/hot_logo/2.png" alt="">
                            <div class="mask"></div>
                            <span class="intro">游戏简介</span>
                        </a>
                    </li>
                    <li class="game_item active">
                        <a href="#">
                            <img class="game_pic" src="../images/index/games/4.png" alt="" />
                            <span class="intro active">游戏简介</span>
                            <img class="icon" src="../images/index/hot_logo/1.png" alt="">
                            <div class="mask"></div>

                        </a>
                    </li>
                    <li class="game_item">
                        <a href="#">
                            <img class="game_pic" src="../images/index/games/5.png" alt="">
                            <img class="icon" src="../images/index/hot_logo/2.png" alt="">
                            <div class="mask"></div>
                            <span class="intro">游戏简介</span>
                        </a>
                    </li>
                    <li class="game_item">
                        <a href="#">
                            <img class="game_pic" src="../images/index/games/6.png" alt="">
                            <img class="icon" src="../images/index/hot_logo/2.png" alt="">
                            <div class="mask"></div>
                            <span class="intro">游戏简介</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="third_page">
            <div class="third_page_box">
                <div class="title">
                    <span class="title_ch">专业电竞赛事</span>
                    <span class="title_en">Professional Esports Event</span>
                </div>
                <div class="content">
                    <div class="left_part">
                        <img src="../images/index/match_left_bg.png" alt="">
                    </div>
                    <div class="right_part">
                        <p class="article">我们助你，一战成名</p>
                        <p class="p1">多种电竞赛事与丰富奖励，在赛场上留下属于自己的传说。</p>
                        <p class="p2">致力于举办专业的格斗赛事，宣传格斗电竞文化，展示格斗游戏魅力，让各个水平段热爱格斗的玩家均可体验到格斗比赛的快感；</p>
                        <p class="p3">我们将提供稳定超低延迟的对战体验、专业OB裁判解说、贴近选手的赛事采访、高额的现金奖励、火爆的决赛现场；</p>
                        <a class="support" href="#">
                            <span>赞助比赛</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fourth_page">
            <div class="fourth_page_box">
                <div class="title">
                    <span class="title_ch">最新行业快讯</span>
                    <span class="title_en">POPULAR GAME IN HERE</span>
                </div>
                <div class="content">
                    <ul class="news_list">
                        <li class="news_item">
                            <a href="#">
                                <img src="../images/index/news_images_1.png" alt="">
                                <div class="news_body">
                                    <span class="news_icon bulletin">快报</span>
                                    <p class="news_title">超级马里奥制造2，首周销量是初代两倍！</p>
                                    <span class="news_date">08 / 06</span>
                                </div>
                            </a>
                        </li>
                        <li class="news_item">
                            <a href="#">
                                <img src="../images/index/news_images_2.png" alt="">
                                <div class="news_body">
                                    <span class="news_icon match">赛事</span>
                                    <p class="news_title">超级马里奥制造2，首周销量是初代两倍。外媒评分高达9 .5分，白金神作！啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
                                    <span class="news_date">08 / 06</span>
                                </div>
                            </a>
                        </li>
                        <li class="news_item">
                            <a href="#">
                                <img src="../images/index/news_images_3.png" alt="" width="333px" height="222px">
                                <div class="news_body"><span class="news_icon notice">公告</span>
                                    <p class="news_title">超级马里奥制造2，首周销量是初代两倍！啊啊啊啊啊啊</p>
                                    <span class="news_date">08 / 06</span>
                                </div>
                            </a>
                        </li>
                        <li class="news_item">
                            <a href="#">
                                <img src="../images/index/news_images_4.png" alt="">
                                <div class="news_body"><span class="news_icon bulletin">快报</span>
                                    <p class="news_title">光荣推出《三国志3》手游版 售价1900日元</p>
                                    <span class="news_date">08 / 06</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="more" href="#">
                    <span>更多</span>
                </a>
            </div>
        </div>
    </div>
</body>
<%- include ./footer.ejs %>
</html>