<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主播招募表</title>
</head>

<body>
    <div class="container">
        <div class="recruit_form">
            <a href="/" class="close"></a>
            <span class="title">主播招募表</span>
            <span class="info">当主播入驻成功后，将会获得我们提供的更多福利！</span>
            <form action="#" method="POST" class="form">
                <input type="text" name="anchor" placeholder="主播姓名">
                <input type="text" name="platform" placeholder="直播平台">
                <input type="text" name="url" placeholder="直播间链接">
                <input type="text" name="phone" placeholder="联系电话">
                <input type="submit" value="确认提交">
            </form>
            <span class="support">
                <span class="help">如果您想赞助游戏比赛，请点击</span><a href="support_form">这里</a><span class="help">申请</span>
            </span>
            <div class="line"></div>      
            <span class="contact">
                <span class="email_ch">客服邮箱:</span>
                <span class="email_en">SERVICE@SNQU.COM</span>
            </span>
        </div>

    </div>
</body>
</html>