<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>比赛赞助表</title>
</head>
<body>
    <div class="container">
        <div class="recruit_form">
            <a href="/" class="close"></a>
            <span class="title">比赛赞助表</span>
            <span class="info">赞助申请后，工作人员与您联系，务必确保信息正确</span>
            <form action="#" method="POST" class="form">
                <input type="text" name="name" placeholder="联系人名称">
                <input type="text" name="phone" placeholder="联系电话">
                <input type="text" name="game" placeholder="比赛游戏">
                <input type="text" name="money" placeholder="预计金额">
                <input type="submit" value="确认提交">
            </form>
            <span class="support">
                <span class="help">您是游戏主播想入驻？请点击</span><a href="recruit_form">这里</a><span class="help">申请</span>
            </span>
            <div class="line"></div>
            <span class="contact">
                <span class="email_ch">客服邮箱:</span>
                <span class="email_en">SERVICE@SNQU.COM</span>
            </span>
        </div>

    </div>
</body>
</html>