@import '../../css/reset.css';
html {
  height: 100%;
}
body {
  height: 100%;
}
body .container {
  width: 100%;
  height: 100%;
  background: url("../images/index/recruit_bg.png") no-repeat center;
  background-color: #000;
}
body .container .recruit_form {
  width: 370px;
  height: 626px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 70px;
}
body .container .recruit_form .close {
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  right: -149px;
  top: 3px;
  border-radius: 50%;
}
body .container .recruit_form .title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
  color: #a87e3e;
}
body .container .recruit_form .info {
  font-size: 14px;
  color: #75777b;
  margin: 20px 0 40px 30px;
}
body .container .recruit_form .form {
  display: flex;
  flex-direction: column;
}
body .container .recruit_form .form input {
  width: 370px;
  height: 50px;
  color: #fff;
  box-sizing: border-box;
  background-color: #000309;
  font-size: 14px;
  outline: none;
  border: none;
}
body .container .recruit_form .form input[type='text'] {
  padding-left: 21px;
  margin-bottom: 12px;
}
body .container .recruit_form .form input[type='text']:focus {
  background-color: transparent;
  border: 1px solid #a87e3e;
  box-shadow: 0px 0px 10px 2px rgba(168, 126, 62, 0.8);
}
body .container .recruit_form .form input[type='submit'] {
  background-color: #a87e3e;
  margin-top: 33px;
  margin-bottom: 62px;
  cursor: pointer;
}
body .container .recruit_form .support {
  display: inline-block;
  text-align: center;
}
body .container .recruit_form .support .help {
  font-size: 14px;
  color: #75777b;
}
body .container .recruit_form .support a {
  color: #a87e3e;
  font-family: "宋体";
}
body .container .recruit_form .line {
  width: 370px;
  height: 14px;
  background: url('../images/index/line.png') no-repeat center;
  margin: 14px 0 16px 0;
}
body .container .recruit_form .contact {
  text-align: center;
}
body .container .recruit_form .contact .email_ch,
body .container .recruit_form .contact .email_en {
  font-size: 12px;
  color: #a87e3e;
  font-family: "ArialMT";
  letter-spacing: 1px;
}
body .container .recruit_form .contact .email_ch {
  font-family: MicrosoftYaHei;
}
