@import '../../css/reset.css';
@font-face {
  font-family: SourceHanSerifCN;
  src: url(../font/SourceHanSerifCN.otf);
}
.container {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.container .first_page {
  height: 937px;
  width: 100%;
}
.container .first_page .role_wrapper {
  height: 7.51rem;
  background: url("../images/index/big_bg.jpg") no-repeat;
}
.container .first_page .role_wrapper .role {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.container .first_page .role_wrapper .role .role_box {
  height: 100%;
  position: relative;
}
.container .first_page .role_wrapper .role .role_box img {
  position: absolute;
}
.container .first_page .role_wrapper .role .role_box .first {
  left: -0.41rem;
  top: 0.03rem;
}
.container .first_page .role_wrapper .role .role_box .second {
  left: 1.91rem;
  top: 0.92rem;
}
.container .first_page .role_wrapper .role .role_box .third {
  z-index: 3;
  left: 50%;
  transform: translateX(-69%);
  top: 68px;
}
.container .first_page .role_wrapper .role .role_box .fourth {
  z-index: 1;
  right: 1.16rem;
  top: 1.01rem;
}
.container .first_page .role_wrapper .role .role_box .fifth {
  right: 0.56rem;
  top: 0.99rem;
}
.container .first_page .role_wrapper .role .text_box {
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: center;
  height: 300px;
  left: -16px;
  bottom: 42px;
}
.container .first_page .role_wrapper .role .text_box .title img {
  width: 787px;
  height: 124px;
}
.container .first_page .role_wrapper .role .text_box span {
  font-family: Gilroy-ExtraBold;
  font-size: 32px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 17px 0 32px 0;
}
.container .first_page .role_wrapper .role .text_box .two_btn {
  height: 58px;
  box-sizing: border-box;
  border: 1px solid #6e6eff;
  font-size: 15px;
  display: flex;
}
.container .first_page .role_wrapper .role .text_box .two_btn .btn1 {
  line-height: 56px;
  width: 211px;
  text-align: center;
}
.container .first_page .role_wrapper .role .text_box .two_btn .btn1 a {
  color: #8080ff;
}
.container .first_page .role_wrapper .role .text_box .two_btn .btn2 {
  width: 211px;
  line-height: 56px;
  text-align: center;
  background-color: #6e6eff;
}
.container .first_page .role_wrapper .role .text_box .two_btn .btn2 a {
  color: #fff;
}
.container .first_page .banner {
  height: calc(100% - 7.51rem);
}
.container .first_page .banner .img_box .img_list ul {
  display: flex;
  overflow-x: hidden;
}
.container .first_page .banner .img_box .img_list ul img {
  height: 186px;
}
.container .second_page {
  width: 100%;
  height: 786px;
  background: url(../images/index/second_logo_bg.png) no-repeat 55% 18%;
  background-color: #0d0b10;
}
.container .second_page .head_box {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 126px 0 122px;
  background-position: 483px 118px;
}
.container .second_page .head_box .title {
  padding-top: 121px;
}
.container .second_page .head_box .title .title_ch {
  font-size: 42px;
  color: #fff;
  display: block;
  letter-spacing: 1px;
}
.container .second_page .head_box .title .title_en {
  font-size: 14px;
  font-family: Arial;
  display: block;
  padding-top: 12px;
}
.container .second_page .head_box .arrow {
  width: 150px;
  height: 65px;
  display: flex;
  padding-top: 127px;
}
.container .second_page .head_box .arrow .left,
.container .second_page .head_box .arrow .right {
  width: 65px;
  height: 65px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  cursor: pointer;
}
.container .second_page .head_box .arrow .left:hover,
.container .second_page .head_box .arrow .right:hover {
  background-color: #6e6eff;
  border: 1px solid #0d0b10;
}
.container .second_page .head_box .arrow .left {
  background: url("../images/index/left_small_arrow.png") no-repeat;
  background-position: 26px 22px;
}
.container .second_page .head_box .arrow .right {
  background: url("../images/index/right_small_arrow.png") no-repeat;
  background-position: 27px 22px;
  margin-left: 20px;
}
.container .second_page .head_box .arrow .active {
  background-color: #6e6eff;
  border: none;
}
.container .second_page .game_box {
  width: 100%;
  position: relative;
}
.container .second_page .game_box .look_more {
  width: 388px;
  height: 89px;
  position: absolute;
  bottom: -28px;
  left: 0;
  background: url("../images/index/more_game.png") no-repeat;
  z-index: 5;
}
.container .second_page .game_box .game_list {
  display: flex;
  transform: translateX(-47px);
  align-items: flex-end;
  height: 564px;
}
.container .second_page .game_box .game_list .game_item {
  position: relative;
  margin-left: -209px;
}
.container .second_page .game_box .game_list .game_item a {
  display: flex;
  position: relative;
}
.container .second_page .game_box .game_list .game_item a .mask {
  width: 322px;
  height: 100%;
  position: absolute;
  background-color: rgba(44, 51, 56, 0.8);
  top: 0;
  left: 127px;
  transform: skew(-30deg);
  display: block;
}
.container .second_page .game_box .game_list .game_item.active a {
  padding-bottom: 34px;
  transform: translateX(20px);
}
.container .second_page .game_box .game_list .game_item.active a .mask {
  display: none;
}
.container .second_page .game_box .game_list .game_item.active .intro {
  display: block;
}
.container .second_page .game_box .game_list .game_item.active .icon {
  display: block;
}
.container .second_page .game_box .game_list .game_item .game_pic {
  width: 576px;
  height: 444px;
}
.container .second_page .game_box .game_list .game_item .intro {
  position: absolute;
  display: none;
  width: 213px;
  height: 58px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  right: 248px;
  top: 322px;
  line-height: 58px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #5113b3;
}
.container .second_page .game_box .game_list .game_item .icon {
  display: none;
  position: absolute;
  left: 44%;
  top: -22%;
  cursor: pointer;
}
.container .third_page {
  width: 100%;
  background: url('../images/index/bottom_bg.png') no-repeat;
  background-color: #0d0b10;
}
.container .third_page .third_page_box {
  padding-top: 149px;
  padding-bottom: 155px;
}
.container .third_page .third_page_box .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .third_page .third_page_box .title .title_ch {
  font-size: 42px;
  letter-spacing: 1px;
  color: #fff;
  text-indent: -5px;
}
.container .third_page .third_page_box .title .title_en {
  font-size: 14px;
  padding-top: 12px;
  font-family: Arial;
  text-indent: -5px;
}
.container .third_page .third_page_box .content {
  width: 100%;
  height: 558px;
  display: flex;
}
.container .third_page .third_page_box .content .left_part {
  width: 7.8rem;
  height: 5.58rem;
  padding: 51px 0 0 140px;
}
.container .third_page .third_page_box .content .right_part {
  width: 544px;
  padding: 126px 0 0 109px;
}
.container .third_page .third_page_box .content .right_part .article {
  font-size: 36px;
  color: #a87e3e;
  letter-spacing: 1px;
}
.container .third_page .third_page_box .content .right_part .p1 {
  color: #fff;
  font-size: 16px;
  margin-top: 21px;
}
.container .third_page .third_page_box .content .right_part .p2,
.container .third_page .third_page_box .content .right_part .p3 {
  color: #75777b;
  font-size: 15px;
}
.container .third_page .third_page_box .content .right_part .p2 {
  margin: 45px 0 47px 0;
}
.container .third_page .third_page_box .content .right_part .p3 {
  margin-bottom: 61px;
}
.container .third_page .third_page_box .content .right_part .support {
  display: block;
  width: 193px;
  height: 58px;
  background-color: #a87e3e;
  user-select: none;
}
.container .third_page .third_page_box .content .right_part .support span {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 18px 0 0 68px;
}
.container .fourth_page {
  width: 100%;
  background: url(../images/index/news_part_bg.png) no-repeat -17px 5px;
  background-color: #000;
}
.container .fourth_page .fourth_page_box {
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 120px;
}
.container .fourth_page .fourth_page_box .title {
  text-align: center;
  margin-bottom: 79px;
}
.container .fourth_page .fourth_page_box .title .title_ch {
  font-size: 42px;
  color: #fff;
  display: block;
  letter-spacing: 1px;
}
.container .fourth_page .fourth_page_box .title .title_en {
  font-size: 14px;
  font-family: Arial;
  display: block;
  padding-top: 12px;
}
.container .fourth_page .fourth_page_box .content {
  width: 100%;
  height: 362px;
  background-color: #141316;
}
.container .fourth_page .fourth_page_box .content .news_list {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.container .fourth_page .fourth_page_box .content .news_list .news_item {
  width: 335px;
  border: 1px solid #1b1b1b;
  box-sizing: border-box;
}
.container .fourth_page .fourth_page_box .content .news_list .news_item a {
  height: 100%;
}
.container .fourth_page .fourth_page_box .content .news_list .news_item a img {
  width: 333px;
  height: 222px;
  display: block;
}
.container .fourth_page .fourth_page_box .content .news_list .news_item a .news_body {
  height: calc(100% - 2.22rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 20px 19px 23px;
  position: relative;
  box-sizing: border-box;
}
.container .fourth_page .fourth_page_box .content .news_list .news_item a .news_body .news_icon {
  display: inline-block;
  width: 72px;
  height: 19px;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
  padding: 2px 0 0 25px;
  box-sizing: border-box;
  font-family: SimSun;
  transform: translateX(-2px);
}
.container .fourth_page .fourth_page_box .content .news_list .news_item a .news_body .news_icon.bulletin {
  background-color: #13a24d;
}
.container .fourth_page .fourth_page_box .content .news_list .news_item a .news_body .news_icon.match {
  background-color: #8c5f1e;
}
.container .fourth_page .fourth_page_box .content .news_list .news_item a .news_body .news_icon.notice {
  background-color: #2e4ed0;
}
.container .fourth_page .fourth_page_box .content .news_list .news_item a .news_body .news_title {
  font-size: 14px;
  color: #fff;
  padding-top: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 40px;
  position: relative;
}
.container .fourth_page .fourth_page_box .content .news_list .news_item a .news_body .news_date {
  position: absolute;
  left: 23px;
  bottom: 19px;
}
.container .fourth_page .fourth_page_box .more {
  display: block;
  width: 193px;
  height: 58px;
  line-height: 54px;
  box-sizing: border-box;
  border: 1px solid #4d4d4d;
  color: #fff;
  font-size: 14px;
  padding-left: 82px;
  margin: 50px auto 136px auto;
}
